    *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Gilroy;
    }
    html,
    body
    {
    width: 100%;
    height: 100%;
    
    }
    *::-webkit-scrollbar
    {
        display : none;
    }
    #main
    {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #f5f5f5;
    }
    #overlay
    {
        width: 100%;
        height: 100%;
        position: relative;
    }
    #left-nav
    {
        position: absolute;
        height: 100%;
        width: 5vw;
        z-index: 999999999999;
        border-right: 1px solid rgba(0, 0, 0, 0.433);
        background-color: #F5F5F5;
        left : -100%;
    }
    #nav-bar
    {
        width: 100%;
        height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #nav-bar i{
        font-size: 40px;
        color: rgba(0, 0, 0, 0.773);
    }
    #navigation
    {   position: relative;
        width: 100%;
        height: 88%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .navi
    {
        width: 80%;
        height: 100%;
        text-align: center;
        color: rgba(0, 0, 0, 0.729);
    }
    .navi i{
        width: 100%;
        height: 100%;
        font-size: 40px;
    }
    .navi h1
    {
        font-size: 15px;
        font-weight: 300;
    }
    #gifts img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    
    #top-nav
    {
        position: absolute;
        height: 5vw;
        /* width: calc(100% - 5vw); */
        width: calc(100%);
        /* left: 5vw; */
        display: flex;
        top : -100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.433);
        background-color: #F5F5F5;
    }
    #tnl
    {
        position: relative;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 20px;
    }
    #search
    {
        width: 40%;
        height: 60%;
        border-radius: 20px;
        padding: 10px 15px;
        border: 1px solid rgba(0, 0, 0, 0.433);
    }
    #searchdiv
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #circle
    {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        background-color: #07142C;
        display : flex;
        justify-content: center;
        align-items: center;
    }
    #circle i
    {
        color: white;
        font-size: 20px;
    }
    #search h1
    {
        font-size: 12px;
        font-weight: 300;
        color: black;
        opacity: .7;
    }
    #tnr
    {
        position: relative;
        height: 100%;
        display: flex;
        left: 12%;
        padding-left: 12%;
        width: calc(50% - 12%);
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    #signin
    {
        width: 22%;
        height: 45%;
        background-color: blue;
        border-radius: 4px;
        display: flex;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
    }
    #signin h1
    {
        color : white;
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
    }
    #brows
    {
        width: 3vw;
        height: 3vw;
        background-color: rgba(128, 128, 128, 0.293);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #brows i{
        font-size: 20px;
        color: black;
    
    }
    #cart
    {
        width: 3vw;
        height: 3vw;
        background-color: rgba(128, 128, 128, 0.293);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cart i
    {
        font-size: 20px;
        color: black;
    }
    #top
    {
        position: absolute;
        width: calc(100%);
        height: 20%;
        /* left: 5vw; */
        top : 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding-bottom: 30px;
        background-color : #F5F5F5;
        display: none;
    }
    .top-item{
        height: 120px;
        width: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;     
    }
    .top-item div{
        position: absolute;
        bottom: 10%;
        
    }
    #item1{
        background-color: #F5F5F5;
        border-radius: 50%;
        display: flex;    
        justify-content: center;
        align-items: center;
    }
    #item1>img
    {
        width: 80%;
        height: 80%;
        background-size: cover;
        background-position: center;
    }
    #item2{
        background-image: url("Images/HandMade-bag/Boho-bag/p2/i1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: #F5F5F5;
        border-radius: 50%;
    }
    #item3{
        background-image: url("Images/bobo-handpainted-indian-vehicles/taxi/i1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: #F5F5F5;
        border-radius: 50%;
    }
    #item4{
        background-image: url("Images/brass-product/elephant/p1/i1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color:  #F5F5F5;
        border-radius: 50%;
    }
    #item5{
        background-color:  #F5F5F5;
        border-radius: 50%;
        display: flex;    
        justify-content: center;
        align-items: center;
    }
    #item5>img
    {
        width: 80%;
        height: 80%;
        background-size: cover;
        background-position: center;
    }
    #item6{
        background-image: url("Images/Dhoop-stand/Meditating-buddha/p2/i1.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color:  #F5F5F5;
        border-radius: 50%;
    }
    #bottum
    {
        position: absolute;
        /* width: calc(100% - 5vw); */
        width: calc(100%);
        /* height: calc(100% - 20% - 5vw); */
        height: calc(100%);
        /* left: 5vw; */
        /* top : calc(20% + 5vw); */
        top : 0%;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    #bottum #wraper
    {
        width: 100%;
        height: 100%;
        position :absolute;
        /* display: none; */
        overflow: hidden;
    }
    #wraper #exit
    {
        position: absolute;
        width: 25%;
        height: 20%;
        top: 80%;
        left: 57%;
        transform: translate(-50%,0%);
        z-index: 999999999999999999999;
        text-align: center;
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        opacity: 0;
        display: none;
    }
    #exitbox
    {
        position: absolute;
        width: 200px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.933);
        border-radius: 4px;
        display: flex;
        align-items: center;
        overflow: visible;
    }
    #exitbox i
    {
        font-size: 20px;
        position: absolute;
        left : 10%;
        opacity: .8;
    }
    #exitbox>h1
    {
        font-size: 20px;
        color: rgba(255, 0, 0, 0.815);
        position: absolute;
        right : 10%;
        opacity: .8;
    }
    #cancle
    {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: white;
        cursor: pointer;
        transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }
    #cancle i{
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #bottum-top{
        height: 60.3%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;    
        align-items: center;
        overflow: auto;
        /* background-color: green; */
    }
    .bottum-itm{
        height: 130px;
        width: 130px;
        /* position: relative;
        top: -65px; */
        
    }
    #itm1{
        background-image: url("Images/Wooden-drink-coaster-Mandala/Square-shaped-text/p2/i4.png");
        background-size: 120% 120%;
        background-repeat: no-repeat;
        position: relative;
        left: -3%;
    }
    #itm2{
        background-image: url("Images/Wooden-drink-coaster-Mandala/Owl-shaped/p1/i3.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        left: -1%;
    }
    #itm3{
        /* background-image: url(""); */
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items : center;
        justify-content: center;
        gap: 15px;
        position: relative;
    }
    #itm3 h1
    {
        opacity : 0;
        scale : 1.2;
    }

    #itm3 button
    {
        padding: 20px 50px;
        border-radius: 7px;
        background-color : rgb(73,58,58);
        color : white;
        border-color: transparent;
        opacity: 0;
        scale: 1.2;
    }
    #itm3 button:hover{
        background-color: rgb(239, 108, 108);
        cursor: pointer;
    }
    #itm3 h2
    {
        font-family: "Voyage";
        font-weight: 300;
        font-size: 50px;
        white-space: nowrap;
        opacity: 0;
        scale : 1.2;
    }
    #itm4{
        background-image: url("Images/HandMade-bag/handmade-pursh-for-women/p2/i2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        right: 1%;
    }
    #itm5{
        background-image: url("Images/brass-product/taxi/p1/i1.png");
        background-size: 110% 110%;
        background-repeat: no-repeat;
        position: relative;
        right: -2%;
    }
    #buttum-mid{
        height: 33.3%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow: hidden;
        /* background-color: aqua; */
    }
    .mid-itm{
        height: 120px;
        width: 120px;
        position: relative;
    }
    #mid-itm1{
        background-image: url("images/pen-holder/p1/i1.png");
        background-size: 100% 100%;
        position: relative;
        left: -2%;
    }
    #mid-itm2{
        background-image: url("Images/Dhoop-stand/Lord-shiva/p3/i2.png");
        background-size: 95% 114%;
        position: relative;
        background-repeat: no-repeat;
        left: -100px;;
    }
    #mid-itm3{
        /* background-image: url("images/logo/logo3.png"); */
        background-size: 100% 100%;
        width: 35%;
        height: 100%;
        position: relative;
       
    
    }
    #mid-itm4{
        background-image: url("images/decotative-toy/p5/i5.png");
        background-size: 100% 100%;
        position: relative;
        right: -100px;
    }
    #mid-itm5{
        background-image: url("images/hanging-wall/p8/i1.png");
        background-size: 100% 100%;
        position: relative;
        right: -2%;
    }
    #buttum-botm{
        height: 33.3%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow: hidden;
        /* background-color: violet; */
    } 

    .bottum-end-itm{
        height: 120px;
        width: 120px;
        position: relative;
        bottom: -65px;
    }
    #bt-itm1{
        background-image: url("images/brass-product/Camel/p1/i4.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        left: -3%;
        bottom : 0%;
    }
    #bt-itm2{
        background-image: url("Images/Wooden-Jewelry/wooden-and-brass-handmade/p3/i3.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        left: -100px;
        bottom : 0%;
    }
    #bt-itm3{
        background-image: url("Images/brass-product/Car/p1/i3.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        bottom : 0%;
    }
    #bt-itm4{
        background-image: url("Images/Golden-Handcrafted-Palm-buddha/p1/i2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        right: -1%;
        bottom : 0%;
    }
    #bt-itm5{
        background-image: url("Images/wooden-Tradition-item/p1/i2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        right: -4%;
        bottom : 0%;

    }

    #mainu-text {
        position: absolute;
        z-index: 99;
        height: 100%;
        overflow-y: auto;
        gap: 4vh;
        width: 30vw;
        padding-left: 7vw;
        background-color:white;
        display: flex;
        flex-direction: column;
        left: -100%;
        opacity: 0;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
    }
    #mainu-text h3{
        padding-left: 2vw;
    }    
    
    #mainu-text a{
        padding-left: 3vw;
        width: 90%;
        display: block;
        text-decoration: none;
        font-weight: 300;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .5s;
        color: black;
    }
    #mainu-text a:hover{
        background-color: black;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        padding: 15px 15px;
        color: #fff;
    }
    #mainu-text h3:hover
    { 
        font-size: 20px;
    }
    
    
    .gift{
        position: relative;
        height: 100%;
        width: 45vw;
       padding-left: 6vw;
       overflow-y: auto;
       overflow-x: hidden;
        background-color: #fff;
        z-index: 99;
        left: -100%;
        opacity: 0;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .5s;   
    }
    .gift::-webkit-scrollbar{display: none;}
    .gift h1{
        margin-top: 30px;
        font-size: 40px;
        font-weight: 500;
        left: 10vw;
        padding-bottom: 1vw;
    }
    .gift h2{
        font-size: 22px;
        white-space: nowrap;
        font-weight: 300;
        
        padding-bottom: 1vw;
    
    }
    .gift  .hadding{
       color: rgb(86, 117, 211);
        padding-left: 32%;
         margin: 30px;
         font-size: 25px;
         font-weight: 500;
     }
    
    
    
    .giftCart{
    
        height: 14vw;
        width: 16vw;
        margin: 1vw;
        display:inline-block;
        text-align: center;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    }
    .giftCart h4{
        padding-top: 5px;
        font-weight: 400;
    
    }
    .giftCart h4:hover{
        color: orange;
    }
    
    .giftCart:hover{
        scale:1.1;
    }
    
    #image{
       
        height: 12vw;
        width: 16vw;
        overflow: hidden;
    }
    #image img{
       
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #trending{
          position: absolute;
         height: 100%;
         width: 45vw;
         padding-left: 6vw;
         top: 0;
         left: 5vw;
         left: -100%;
         overflow-x: hidden;
         overflow-y: auto;
         
         background-color: #fff;
    }
    #trending h1{
        font-size: 40px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    #trending a{
        text-decoration: none;
        font-weight: 500;
    }
    #trending a:hover{
        color: orange;
    }
    #trending .creator{
        margin: 2vw;
        position: relative;
        display: inline-block;
        height: 12vw;
        width: 14vw;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    
       overflow: hidden;
        background-size: cover;
    }
    #trending .hadding{
       
        padding-left: 35%;
         margin: 30px;
         font-size: 25px;
         font-weight: 500;
     }
    #trending .creator img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #trending .creator:hover{
        scale: 1.1;
    }
    
    #trending .creator .circle{
        position: absolute;
        bottom:0%;
        right:0%;
        height: 7vw;
        width: 7vw;
        border-radius: 50%;
        background-color: #fff;
    }
    #mystuff{ 
        position: absolute;
        height: 100%;
        width: 45vw;
        padding-left: 5vw;
       
       top: 0;
      left: 4vw;
      left: -100%;
       overflow-x: hidden;
       overflow-y: auto;
        background-color: #fff;
        text-align: center;
    
    }
    #mystuff h1{
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 10px;
    }#mystuff p{
        font-size: small;
          font-weight: 500; 
         letter-spacing: 1px; 
        margin: 5px; 
        text-align: left; 
        padding-left: 20px;  
    
    }
    
    
    #mystuff video{
        position:relative;
        top:20px;
        margin: 20px 0;
        height: 400px;
        width: 100%;
        border:none;
    }
    .btn{
        color: #fff;
        padding: 15px 40px;
        margin: 12px;
        font-size: 20px;
    
        /* border-radius: 15px; */
        border: none;
        background-color: royalblue;
    }
    .btn:hover
    {
        color: royalblue;
        background-color: #fff;
        border: 2px solid blue;
    }
    #mystuff h3{
       margin: 40px;
        font-size: 25px;
    }
    
    #mystuff h4{
        font-weight: 400;
        line-height: 35px;
        font-size: 20px;
    }
    #mystuff #myart{
    
     position:relative;
        
        margin: 20px 0;
        height: 400px;
        width: 100%;
        border:none;
        overflow: hidden;
    }
    #myartt img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #mystuff::-webkit-scrollbar{display: none;}
    #liveside{ 
        position: absolute;
        height: 100%;
        width: 45vw;
        padding-left: 5vw;
        overflow-x: hidden;
        top: 0;
        left: -100%;
        background-color: #fff;
        text-align: center;
    }
    #liveside h1{
        white-space: nowrap;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 40px;
        margin-top: 20px;
    }
    #liveside p{
        font-weight: 500;
        opacity: .8;
        text-align: left;
        margin-bottom: 40px;
    }
    #liveside li{
        text-align: left;
        font-weight: 500;
       
        line-height: 25px;
       
    }
    
    
    #liveside h3{
        position: absolute;
        top:50%;
        left: 65px;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    #liveside button{
        position:absolute;
        margin-top: 30px;
        padding: 20px 30px;
        color:#fff;
        font-weight: 600;
        background-color: rgba(7, 52, 188, 0.806);
        border: none;
        top:55%;
        left: 65px;
    }
    #liveside a{
        position: absolute;
        left: 65px;
        top:78%;
        color: #0f3f97;
        text-decoration: none;
    }
    #liveside #help {
        position: absolute;
        left: 40%;
        top:90%;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    #liveside #image{
        position: absolute;
        top:110%;
        background-color: black;
        width: 100%;
       height: 60%;
       overflow: hidden;
      
      
    }
    #liveside #image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .masterpice{
        position: absolute;
        width: 96%;
        display: flex;
        gap: 20px;
        top: 180%;
       
    }
    .masterpice1{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
    }
    .master{
        width: 250px;
        height: 200px;
        margin: 20px 0px;
        /* background-color: #0f3f97; */
    }
    .image{
        width: 250px;
        height: 170px;
        overflow: hidden;   
        /* background-color: black; */
    
    }
    .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .master h4{
        margin-top: 10px;
        font-weight: 500;
    }
    .master h4:hover{
        color: burlywood;
        font-size: 18px;
    
    }
    .image img:hover{
        opacity: .5;
    }
    
    .masterpice{
        position: absolute;
        width: 96%;
        display: flex;
        gap: 20px;
        top: 180%;
       
    }
    .masterpice1{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
    }
    .master{
        width: 250px;
        height: 200px;
        margin: 20px 0px;
        /* background-color: #0f3f97; */
    }
    .image{
        width: 250px;
        height: 170px;
        overflow: hidden;   
        /* background-color: black; */
    
    }
    .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .master h4{
        margin-top: 10px;
        font-weight: 500;
    }
    .master h4:hover{
        color: burlywood;
        font-size: 18px;
    
    }
    .image img:hover{
        opacity: .5;
    }
    #exploreicon{ 
        position: absolute;
        height: 100%;
        width: 45vw;
        padding-left: 4vw;
        top: 0;
        left: -100%;
         overflow-x: hidden;
         overflow-y: auto;
       background-color: #fff;
        
    }
    #exploreicon h1{
        font-size: 40px;
        font-weight: 500;
        margin: 20px 0;
    }
    #exploreicon a{
      
       text-decoration: none;
    }
    #exploreicon .hadding{
       
       padding-left: 30%;
        margin: 20px;
        font-size: 25px;
        font-weight: 500;
    }
    
    .deal{
        
        width: 96%;
        display: flex;
        gap: 20px;
       
       
    }
    .deal1{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
    }
    .dmaster{
        width: 250px;
        height: 200px;
        margin: 20px 0px;
        /* background-color: #0f3f97; */
    }
    .dimage{
        width: 250px;
        height: 170px;
        overflow: hidden;   
        /* background-color: black; */
    
    }
    .dimage img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .dmaster h4{
        margin-top: 10px;
        font-weight: 500;
    }
    .dmaster h4:hover{
        color: burlywood;
        font-size: 18px;
    
    }
    .dimage img:hover{
        opacity: .5;
    }
        
    #chating{
        position: absolute;
        height: 100%;
        width: 45vw;
        padding-left: 4vw;
        overflow-x: hidden;
        top: 0;
        left: 4vw;
        left: -100%;
        background-color: #fff;
    }
    #chating h1{
        font-size: 40px;
        font-weight: 500;
        margin: 20px 0;
    }
    #chating a{
      
       text-decoration: none;
    }
    #chating .hadding{
       
        padding-left: 30%;
         margin: 20px;
         font-size: 25px;
         font-weight: 500;
     }
     #chating .blank{
        display: flex;
        gap: 30px;
     }
     .blank .blankImage{
        height: 140px;
        width: 125px;
        overflow: hidden;
        background-color: black;
     }
     .blank .blankImage img{
        height: 100%;
        width: 100%;
        object-fit: cover;
     }
    
     #shell{
        position: absolute;
        height: 100%;
        width: 35vw;
        padding-left: 4vw;
        overflow-x: hidden;    
        top: 0;
        left: -100%;
        background-color: #fff;
        display: none;
    }
    #shell h1{
        font-size: 40px;
        font-weight: 400;
        margin: 20px 0;
    }
    #shell button{
        margin-top: 20px;
     padding: 15px  40px;
     font-size: 18px;
     border: none;
     color: #fff;
     font-weight: 600;
     background-color: rgba(7, 52, 188, 0.893);
    }
    #shell button:hover{
        background-color: royalblue;
    }
    
    #shell .hadding{
       
       padding-left: 30%;
        margin: 20px;
        font-size: 25px;
        font-weight: 500;
    }
    #resources {
        display: flex;
      gap: 30px;
    }
    #resources .resourceColunm{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    
    #resources .resource{
        height: 160px;
        width: 300px;
        margin-bottom: 20px;
         background-color: black;
    
    }
    #resources .resource .Rimages{
        height: 140px;
        width: 300px;
        overflow: hidden;
         background-color:red;
    
    }
    #resources .resource .Rimages img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #resources .resource h4{
        font-weight: 500;
        margin-top: 20px;
    }
    
    
     .products{
        display: flex;
        gap: 20px;
        flex-direction: row;
    }
     .products .product{
        margin-bottom: 20px;
        height: 130px ;
        width: 200px;
        overflow: hidden;
        background-color: #0f3f97;
    }
    .products .product img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .products .product:hover{
        scale: 1.1;
    }
    #topProduct{
        display: flex;
    
    }
    #topProduct .images{
    height: 140px;
    width: 120px;
    background-color: green;
    }



/* rahul codes     */
#columns
{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow : hidden;
}
#id0
{
    position : absolute;
    overflow :visible;
    left : 0%;
}
#id1
{
    position : absolute;
    left : 10%;
}#id2
{
    position : absolute;
    left : 20%;
}#id3
{
    position : absolute;
    left : 30%;
}#id4
{
    position : absolute;
    left : 40%;
}#id5
{
    position : absolute;
    right : 40%;
}
#id6
{
    position : absolute;
    right : 30%;
}#id7
{
    position : absolute;
    right : 20%;
}#id8
{
    position : absolute;
    right : 10%;
}#id9
{
    position : absolute;
    right : 0%;
}
.clmA
{
    height: 96%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow :visible;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    position: relative;
    top: 2%;
    bottom: 2%;
}
.clmA img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    scale: 0;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    position: relative;
}
.alpha
{
    width: 100%;
    height: 16%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    overflow: visible;
    position: relative;
}
.alpha:hover{
    scale: 1.2;
}
.alpha img:hover{
    scale: 2;
}

.beta
{
    width: 100%;
    height: 16%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    position : relative;
}


.beta:hover{
    scale: 1.2;
    overflow: auto;
}
.beta img:hover{
    scale: 1.2;
}
.charlie
{
    width: 100%;
    height: 16%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    position: relative;

}

.charlie:hover{
    scale: 1.2;
    overflow: auto;
}
.charlie img:hover{
    scale: 1.2;
}
.delta
{
    width: 100%;
    height: 16%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;

}
.delta:hover{
    scale: 1.2;
    overflow: auto;
}
.delta img:hover{
    scale: 1.2;
}
/* .echo
{
    width: 100%;
    height: 16%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;

}
.echo:hover{
    scale: 1.2;
    overflow: auto;
}
.echo img:hover{
    scale: 1.2;
} */
/* .foxtrot
{
    width: 100%;
    height: 16%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
.foxtrot>img
{
    position: relative;
    bottom: -15px;
}
.foxtrot:hover{
    scale: 1.2;
    overflow: auto;
}
.foxtrot img:hover{
    scale: 1.2;
} */



